*{
    margin: 10px;
}

body {
    padding: 60px;
}

.loading {
    background-color: #222;
    color: #fff;
    padding: 20px;
    margin: 30px;
    border-radius: 10px;
}

.blockquote {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
}